<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href='/Contents/css/styles.css'>
  <meta charset="utf-8">
  <title>Registrar</title>
</head>
<body>
  <div class="container">
    @RenderBody()
    <div class="home-links">
      <h4><a href="/">Return Home</a> | <a href="/student/form">Add Student</a> | <a href="/course/form">Add Course</a></h4>
    </div>
  </div>
</body>
</html>
